.product-item {
  width: 1/3%;
  color: black;
}

.vinyl-image {
  width: 500px;
  height: 500px;
  background-color: white;
}

 .product-description {
  margin-top: -6px;
  padding: 40px 30px 20px;
  background-color: rgb(82, 78, 78);
  color: white;
}

.product-description p:nth-child(1) {
  font-size: 30px;
}

.product-description p:nth-child(2) {
  font-size: 24px;
  padding: 11px 20px;
}

.product-description div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.bag-img {
  width: 23px;
}

.add-product {
  width: 110px;
  height: 46px;
  font-size: 35px;
  background-color: #A09A9A;
  border: none;
  border-radius: 2px;
  transition: 0.3s;
}

.add-product:hover{
  background-color: rgba(255,255,255,.8);
}
